@font-face {
  font-family: "cf-icon"; /* Project id 313726 */
  src: url('iconfont11.eot?t=1623375998918'); /* IE9 */
  src: url('iconfont11.eot?t=1623375998918#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('iconfont11.woff?t=1623375998918') format('woff');
}

.cf-icon {
  font-family: "cf-icon" !important;
  
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.cf-chart-abandon:before {
  content: "\e660";
}

.cf-authorize:before {
  content: "\e662";
}

.cf-import:before {
  content: "\e661";
}

.cf-icon_info_linear:before {
  content: "\e65f";
}

.cf-icon_handover_copyto:before {
  content: "\e654";
}

.cf-icon_handover_send:before {
  content: "\e655";
}

.cf-icon_handover_approvalrole:before {
  content: "\e656";
}

.cf-icon_handover_done:before {
  content: "\e657";
}

.cf-icon_handover_historytemplate:before {
  content: "\e659";
}

.cf-icon_handover_approvalentrust:before {
  content: "\e65a";
}

.cf-icon_handover_upcoming:before {
  content: "\e65c";
}

.cf-icon_handover_publicrole:before {
  content: "\e65d";
}

.cf-icon_handover_template:before {
  content: "\e65e";
}

.cf-icon_sidemenu_handover:before {
  content: "\e65b";
}

.cf-icon_selected:before {
  content: "\e658";
}

.cf-zujian:before {
  content: "\e652";
}

.cf-duoxuanweixuanzhong:before {
  content: "\f02d";
}

.cf-copy2:before {
  content: "\f028";
}

.cf-bianji:before {
  content: "\f029";
}

.cf-jiahao:before {
  content: "\f02a";
}

.cf-shanchu:before {
  content: "\f02b";
}

.cf-shijianzhengxu:before {
  content: "\f023";
}

.cf-shijiandaoxu:before {
  content: "\f024";
}

.cf-liuchengzhongxin_weidudanju:before {
  content: "\e602";
}

.cf-liuchengzhongxin_yidudanju:before {
  content: "\e603";
}

.cf-xinxi:before {
  content: "\f01b";
}

.cf-dianhua:before {
  content: "\f01c";
}

.cf-zhinengshenpi:before {
  content: "\f01d";
}

.cf-issuedNumberWidget:before {
  content: "\f00d";
}

.cf-chehuitimeline1:before {
  content: "\f00b";
}

.cf-tuihuitimeline1:before {
  content: "\f00c";
}

.cf-chehuitouxiang:before {
  content: "\f006";
}

.cf-tuihuitouxiang:before {
  content: "\f007";
}

.cf-xiazaiwancheng:before {
  content: "\f000";
}

.cf-batch-download:before {
  content: "\effe";
}

.cf-xiazai1:before {
  content: "\efff";
}

.cf-danjuzhuanhua:before {
  content: "\eff8";
}

.cf-zhuanhuan:before {
  content: "\eff7";
}

.cf-paixu:before {
  content: "\eff4";
}

.cf-quanbuzhankai:before {
  content: "\eff1";
}

.cf-quanbushouqi:before {
  content: "\eff2";
}

.cf-tuozhuai:before {
  content: "\eff3";
}

.cf-huaban2:before {
  content: "\efed";
}

.cf-luru:before {
  content: "\efee";
}

.cf-renyuanbeifen:before {
  content: "\efeb";
}

.cf-xiaojiantou_gaoliangbeifen:before {
  content: "\efe9";
}

.cf-xiaojiantou_gaoliang:before {
  content: "\efe8";
}

.cf-circulation:before {
  content: "\efe1";
}

.cf-tingyong:before {
  content: "\efd8";
}

.cf-qiyong:before {
  content: "\efd9";
}

.cf-hui:before {
  content: "\efda";
}

.cf-hui1:before {
  content: "\efdb";
}

.cf-gaoliang:before {
  content: "\efdc";
}

.cf-chuangjianrenxinxi:before {
  content: "\efde";
}

.cf-safe:before {
  content: "\efd5";
}

.cf-connect:before {
  content: "\efd6";
}

.cf-arrow:before {
  content: "\efd4";
}

.cf-link:before {
  content: "\efd2";
}

.cf-unified-flow-center:before {
  content: "\efcd";
}

.cf-urgencyWidget:before {
  content: "\efce";
}

.cf-switch:before {
  content: "\efd0";
}

.cf-zancun:before {
  content: "\efc9";
}

.cf-composeTextWidget:before {
  content: "\efc4";
}

.cf-comfirm:before {
  content: "\efc0";
}

.cf-cancel:before {
  content: "\efc3";
}

.cf-editPen:before {
  content: "\efc1";
}

.cf-dragPoint:before {
  content: "\efc2";
}

.cf-bufa:before {
  content: "\efbe";
}

.cf-ziliucheng:before {
  content: "\efbc";
}

.cf-list-opinion:before {
  content: "\efb7";
}

.cf-table-opinion:before {
  content: "\efb8";
}

.cf-opinionRegister:before {
  content: "\efb1";
}

.cf-windowTag:before {
  content: "\ef8a";
}

.cf-selectAll:before {
  content: "\ef87";
}

.cf-selectOne:before {
  content: "\ef88";
}

.cf-newWindow:before {
  content: "\ef89";
}

.cf-picture:before {
  content: "\ef83";
}

.cf-file:before {
  content: "\ef84";
}

.cf-print:before {
  content: "\ef81";
}

.cf-short-line:before {
  content: "\ef75";
}

.cf-long-line:before {
  content: "\ef76";
}

.cf-parallel-tag:before {
  content: "\ef73";
}

.cf-manualNode:before {
  content: "\ef67";
}

.cf-parallelNode:before {
  content: "\ef68";
}

.cf-onlineAttachmentWidget:before {
  content: "\ef58";
}

.cf-subFlow:before {
  content: "\ef4f";
}

.cf-formLayout:before {
  content: "\ef36";
}

.cf-topTab:before {
  content: "\ef37";
}

.cf-kingGridWidget:before {
  content: "\ef20";
}

.cf-tips-error:before {
  content: "\ef1a";
}

.cf-tips-warn:before {
  content: "\ef1b";
}

.cf-tips-true:before {
  content: "\ef1c";
}

.cf-personal-set:before {
  content: "\ef04";
}

.cf-delegate-set:before {
  content: "\ef05";
}

.cf-go-on:before {
  content: "\eeba";
}

.cf-certificate-administrator:before {
  content: "\eebb";
}

.cf-certification:before {
  content: "\eebc";
}

.cf-electronic-signature:before {
  content: "\eebd";
}

.cf-Certificate:before {
  content: "\eebe";
}

.cf-ca-certification:before {
  content: "\eebf";
}

.cf-ca-certified:before {
  content: "\eec0";
}

.cf-list-layout:before {
  content: "\eea5";
}

.cf-grid-layout:before {
  content: "\eea6";
}

.cf-collection-tag:before {
  content: "\eea7";
}

.cf-abandon:before {
  content: "\eea3";
}

.cf-resumptionLeaveWidget:before {
  content: "\ee9a";
}

.cf-sun:before {
  content: "\e601";
}

.cf-reply:before {
  content: "\ee78";
}

.cf-forward-zf:before {
  content: "\ee79";
}

.cf-officeWidget:before {
  content: "\ee6f";
}

.cf-value-added:before {
  content: "\ee3d";
}

.cf-catalogWidget:before {
  content: "\ee35";
}

.cf-articleWidget:before {
  content: "\ee36";
}

.cf-arrow-bottom:before {
  content: "\ee1f";
}

.cf-fullscreen:before {
  content: "\ee20";
}

.cf-average:before {
  content: "\ee21";
}

.cf-arrow-top:before {
  content: "\ee22";
}

.cf-fullscreencancle:before {
  content: "\ee23";
}

.cf-one-minus:before {
  content: "\ed2d";
}

.cf-all-download:before {
  content: "\ee02";
}

.cf-signatureWidget:before {
  content: "\edfc";
}

.cf-clock-block:before {
  content: "\eded";
}

.cf-moon:before {
  content: "\edee";
}

.cf-help-pop:before {
  content: "\edef";
}

.cf-flowPortal:before {
  content: "\ede9";
}

.cf-i-tips:before {
  content: "\ed6f";
}

.cf-clock-timeout:before {
  content: "\edc4";
}

.cf-timePicker:before {
  content: "\e8e8";
}

.cf-intelligent-yun:before {
  content: "\ed5b";
}

.cf-describeWidget:before {
  content: "\ed39";
}

.cf-dateRangeWidget:before {
  content: "\ed3a";
}

.cf-imageWidget:before {
  content: "\ed3b";
}

.cf-departmentSelectWidget:before {
  content: "\ed3c";
}

.cf-dispatchWidget:before {
  content: "\ed3d";
}

.cf-detailedWidget:before {
  content: "\ed3e";
}

.cf-moneyWidget:before {
  content: "\ed3f";
}

.cf-locationWidget:before {
  content: "\ed40";
}

.cf-leaveWidget:before {
  content: "\ed41";
}

.cf-numberWidget:before {
  content: "\ed42";
}

.cf-invoiceWidget:before {
  content: "\ed43";
}

.cf-outWidget:before {
  content: "\ed44";
}

.cf-personSelectWidget:before {
  content: "\ed45";
}

.cf-publicOptBoxWidget:before {
  content: "\ed46";
}

.cf-radioWidget:before {
  content: "\ed47";
}

.cf-overtimeWidget:before {
  content: "\ed48";
}

.cf-relatedWidget:before {
  content: "\ed49";
}

.cf-receiveWidget:before {
  content: "\ed4a";
}

.cf-serialNumWidget:before {
  content: "\ed4b";
}

.cf-supplementWidget:before {
  content: "\ed4c";
}

.cf-attachmentWidget:before {
  content: "\ed4d";
}

.cf-apiIntegrationWidget:before {
  content: "\ed4e";
}

.cf-arithmeticWidget:before {
  content: "\ed4f";
}

.cf-travelWidget:before {
  content: "\ed50";
}

.cf-textAreaWidget:before {
  content: "\ed51";
}

.cf-textWidget:before {
  content: "\ed52";
}

.cf-checkboxWidget:before {
  content: "\ed53";
}

.cf-dateWidget:before {
  content: "\ed54";
}

.cf-detail-add:before {
  content: "\ed31";
}

.cf-detail-edit1:before {
  content: "\ed32";
}

.cf-detail-del:before {
  content: "\ed33";
}

.cf-table-show:before {
  content: "\ed2f";
}

.cf-table-hidden:before {
  content: "\ed30";
}

.cf-star-line:before {
  content: "\ed1c";
}

.cf-detail-edit:before {
  content: "\e7b7";
}

.cf-clock-line:before {
  content: "\ecb1";
}

.cf-arrow-r-link:before {
  content: "\eae5";
}

.cf-download:before {
  content: "\e60b";
}

.cf-base-value:before {
  content: "\ec10";
}

.cf-more:before {
  content: "\e7ab";
}

.cf-upgrade:before {
  content: "\ec43";
}

.cf-t-arrows:before {
  content: "\ec17";
}

.cf-b-arrows:before {
  content: "\ec18";
}

.cf-ellipse:before {
  content: "\ec19";
}

.cf-copy:before {
  content: "\ebec";
}

.cf-paste:before {
  content: "\ebed";
}

.cf-tag:before {
  content: "\ebbd";
}

.cf-log:before {
  content: "\ebbe";
}

.cf-drag:before {
  content: "\eb8f";
}

.cf-set-th:before {
  content: "\eb84";
}

.cf-export:before {
  content: "\eb85";
}

.cf-response-arrow:before {
  content: "\eb86";
}

.cf-communication:before {
  content: "\e92a";
}

.cf-addr:before {
  content: "\e7bb";
}

.cf-diliweizhitubiao:before {
  content: "\eb76";
}

.cf-money:before {
  content: "\eb39";
}

.cf-address:before {
  content: "\eb3a";
}

.cf-qiye:before {
  content: "\eb34";
}

.cf-resubmit:before {
  content: "\eb23";
}

.cf-tips1:before {
  content: "\e66d";
}

.cf-icon-close-gray:before {
  content: "\eae6";
}

.cf-wenzibeizhu:before {
  content: "\eac4";
}

.cf-pizhu:before {
  content: "\eac5";
}

.cf-disagree:before {
  content: "\eabe";
}

.cf-flowchart-disagree:before {
  content: "\eac1";
}

.cf-avatar-agreed:before {
  content: "\eac2";
}

.cf-seal:before {
  content: "\eaad";
}

.cf-setRed:before {
  content: "\eaae";
}

.cf-setRed-seal:before {
  content: "\eaaf";
}

.cf-flow-help:before {
  content: "\ea9f";
}

.cf-flow-monitor:before {
  content: "\eaa1";
}

.cf-operation-report:before {
  content: "\eaa2";
}

.cf-sass:before {
  content: "\eaa3";
}

.cf-approval-setting:before {
  content: "\eaa4";
}

.cf-template:before {
  content: "\eaa5";
}

.cf-cloud-template:before {
  content: "\eaa6";
}

.cf-dev-log:before {
  content: "\eaa7";
}

.cf-template-statistics:before {
  content: "\eaa8";
}

.cf-approval-central:before {
  content: "\eaa9";
}

.cf-export-old:before {
  content: "\eaaa";
}

.cf-flow-manager:before {
  content: "\eaab";
}

.cf-write:before {
  content: "\ea78";
}

.cf-garbage:before {
  content: "\ea79";
}

.cf-official:before {
  content: "\ea7a";
}

.cf-star1:before {
  content: "\ea70";
}

.cf-admin:before {
  content: "\e920";
}

.cf-star:before {
  content: "\ea51";
}

.cf-add-file:before {
  content: "\e8b2";
}

.cf-plus:before {
  content: "\e66a";
}

.cf-minus:before {
  content: "\e641";
}

.cf-threeCol:before {
  content: "\e908";
}

.cf-twoCol:before {
  content: "\e90a";
}

.cf-revert:before {
  content: "\e9f8";
}

.cf-delete1:before {
  content: "\e9f9";
}

.cf-lapp-grey:before {
  content: "\e9fa";
}

.cf-web-light:before {
  content: "\e9fb";
}

.cf-save:before {
  content: "\e9fc";
}

.cf-startTest:before {
  content: "\e9fd";
}

.cf-preview:before {
  content: "\e9fe";
}

.cf-conversion:before {
  content: "\e9f6";
}

.cf-video:before {
  content: "\e9da";
}

.cf-qr-code:before {
  content: "\e9db";
}

.cf-describes:before {
  content: "\e9dc";
}

.cf-warn:before {
  content: "\e6fd";
}

.cf-true-block:before {
  content: "\e6fc";
}

.cf-clock:before {
  content: "\e7cc";
}

.cf-delete-block:before {
  content: "\e6f8";
}

.cf-del:before {
  content: "\e999";
}

.cf-avatar-wait:before {
  content: "\e9ac";
}

.cf-avatar-agree:before {
  content: "\e9ad";
}

.cf-avatar-return:before {
  content: "\e9ae";
}

.cf-round-close:before {
  content: "\e9af";
}

.cf-filter:before {
  content: "\e66c";
}

.cf-add-b:before {
  content: "\e8d7";
}

.cf-Rank:before {
  content: "\e983";
}

.cf-time:before {
  content: "\e984";
}

.cf-calendar:before {
  content: "\e985";
}

.cf-doc:before {
  content: "\e98c";
}

.cf-ppt:before {
  content: "\e98d";
}

.cf-png:before {
  content: "\e98e";
}

.cf-pdf:before {
  content: "\e98f";
}

.cf-txt:before {
  content: "\e990";
}

.cf-xlsx:before {
  content: "\e991";
}

.cf-unknown:before {
  content: "\e992";
}

.cf-zip:before {
  content: "\e993";
}

.cf-music:before {
  content: "\e994";
}

.cf-bell:before {
  content: "\e7b4";
}

.cf-recall:before {
  content: "\e7b8";
}

.cf-user-group:before {
  content: "\e7c2";
}

.cf-zhifubao:before {
  content: "\e6ab";
}

.cf-wechat:before {
  content: "\e615";
}

.cf-jd:before {
  content: "\e685";
}

.cf-r-arrow:before {
  content: "\e606";
}

.cf-l-arrows:before {
  content: "\e600";
}

.cf-arrow-first:before {
  content: "\e77a";
}

.cf-arrow-end:before {
  content: "\e77c";
}

.cf-arrow-next:before {
  content: "\e77d";
}

.cf-arrow-last:before {
  content: "\e77e";
}

.cf-search:before {
  content: "\e62a";
}

.cf-rescind:before {
  content: "\e841";
}

.cf-report:before {
  content: "\e8c5";
}

.cf-user:before {
  content: "\e954";
}

.cf-department:before {
  content: "\e955";
}

.cf-feedback:before {
  content: "\e94a";
}

.cf-update-report:before {
  content: "\e94b";
}

.cf-forward:before {
  content: "\e94c";
}

.cf-prit:before {
  content: "\e94d";
}

.cf-agreed-and-add:before {
  content: "\e94e";
}

.cf-add-user:before {
  content: "\e94f";
}

.cf-flow:before {
  content: "\e950";
}

.cf-ok:before {
  content: "\e7b3";
}

.cf-warn1:before {
  content: "\e7c9";
}

.cf-reset:before {
  content: "\e7cf";
}

.cf-back:before {
  content: "\e831";
}

.cf-fenxiang:before {
  content: "\e719";
}

.cf-triangle-down:before {
  content: "\e8dd";
}

.cf-triangle-up:before {
  content: "\e925";
}

.cf-triangle-left:before {
  content: "\e926";
}

.cf-triangle-right:before {
  content: "\e927";
}

.cf-checked:before {
  content: "\e923";
}

.cf-sort:before {
  content: "\e682";
}

.cf-edit:before {
  content: "\e919";
}

.cf-stop:before {
  content: "\e91a";
}

.cf-icon-open:before {
  content: "\e91b";
}

.cf-delete-bold:before {
  content: "\e91d";
}

.cf-set-bold:before {
  content: "\e91e";
}

.cf-detail:before {
  content: "\e91f";
}

.cf-icon-set:before {
  content: "\e8e0";
}

.cf-tips:before {
  content: "\e90c";
}

.cf-close-bold:before {
  content: "\e8d6";
}

.cf-link-arrow-r:before {
  content: "\e8c9";
}

.cf-link-arrow-l:before {
  content: "\e924";
}

.cf-add:before {
  content: "\e887";
}

.cf-review:before {
  content: "\e8cb";
}

.cf-block-help:before {
  content: "\e609";
}

.cf-add-block:before {
  content: "\e6f0";
}

.cf-arrow-up:before {
  content: "\e6f1";
}

.cf-arrow-down:before {
  content: "\e6f2";
}

.cf-arrow-left:before {
  content: "\e6f3";
}

.cf-arrow-right:before {
  content: "\e6f4";
}

.cf-close:before {
  content: "\e6f5";
}

.cf-close-block:before {
  content: "\e6f6";
}

.cf-close-line:before {
  content: "\e6f7";
}

.cf-delete:before {
  content: "\e6f9";
}

.cf-true:before {
  content: "\e6fb";
}

.cf-help:before {
  content: "\e83b";
}

.cf-close-eye:before {
  content: "\e83c";
}

.cf-eye:before {
  content: "\e83d";
}

